h1 {
    font-family: 'Kanit', sans-serif;
}

input[type="search"] {
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 10px;
    /* color: black; */

}
/* 
input[type="search"]:focus {
    background: transparent;
  
} */

.btn-outline-dark {
    border: 7px solid black;
}

.main-content-container {
    margin-left: 40px;
    width: 80%;
}

#submit {
    background-color: #ff5d5d;
}

/* #bar-name {
    font-size: 50px;
} */

.next-button-container {
    display: flex;
    justify-content: flex-end;
}

#next-button {
    width: 100px;
    background-color: darkgray;
}

/* input field for date and time */

/* .container-fluid {
    margin-top: 20px;
} */

.form-control {
    border-radius: 0%;
}

#input-icons i {
position: absolute;
}

#input-icons {
    width: 100%;
    margin-bottom: 10px;
    margin-top: -20px;
}

.icon {
    padding: 15px;
    margin-top: 25px;
}

.input-field {
    padding: 10px;
}

.input-field {
    text-align:right;
  }


.datepicker {
    top: 170.9915px !important;
    left: 224.989px !important;
    display: block !important;
}
 
.main-content-container-book {
    display: flex;
    flex-direction: row;
    margin-left: 256px;
    width: 80%;
}

/* confirm page */

#book-a-table {
    background-color: #6366f1;
    padding: 50px 0px;
    /* border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; */
    margin: 50px 0px;
    float: left;
    width: 100%;
}
.book-a-table p {
	color: #9a9a9a;
    
}
.book-a-table textarea {
    min-height: 200px;
    max-width: 100%;
}

#confirm-button {
    background-color: #ff5d5d;
}

#back-button {
    background-color: #ffde59;
}

.confirm-text {
    color: white
}

.success-text {
    color: white;
    font-size:xx-large;
}

.bar-card-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bar-card-content {
    z-index: 5;
}


.bar-name {
    font-size: x-large;
    margin: 15px 0;
   color: white;
}

.card-one {
    background-image: url('/public/assets/images/bar-1.jpg')
}


.hidden {
    display: none;
}

#confirmation-info {
    color: white;
    font-size: 40px;
}

#map-container {
    height: 50%;
    display: flex;
    justify-content: center;

}
#map {
    height:400px;
    width:60%;
    margin: 100px;
    padding: 10px;
  }
